bin/Debug/netcoreapp3.1/Syncfusion.Licensing.dll
bin/Debug/netcoreapp3.1/Syncfusion.SfChart.WPF.dll
bin/Debug/netcoreapp3.1/WpfFrontEndProto.deps.json
bin/Debug/netcoreapp3.1/WpfFrontEndProto.dll
bin/Debug/netcoreapp3.1/WpfFrontEndProto.exe
bin/Debug/netcoreapp3.1/WpfFrontEndProto.pdb
bin/Debug/netcoreapp3.1/WpfFrontEndProto.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/WpfFrontEndProto.runtimeconfig.json
obj/project.assets.json
obj/project.nuget.cache
obj/WpfFrontEndProto.csproj.nuget.dgspec.json
obj/WpfFrontEndProto.csproj.nuget.g.props
obj/WpfFrontEndProto.csproj.nuget.g.targets
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Debug/netcoreapp3.1/App.g.cs
obj/Debug/netcoreapp3.1/App.g.i.cs
obj/Debug/netcoreapp3.1/WpfFrontEndProto_MarkupCompile.cache
obj/Debug/netcoreapp3.1/WpfFrontEndProto_MarkupCompile.lref
obj/Debug/netcoreapp3.1/WpfFrontEndProto.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/WpfFrontEndProto.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/WpfFrontEndProto.assets.cache
obj/Debug/netcoreapp3.1/WpfFrontEndProto.csproj.CopyComplete
obj/Debug/netcoreapp3.1/WpfFrontEndProto.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/WpfFrontEndProto.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/WpfFrontEndProto.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/WpfFrontEndProto.dll
obj/Debug/netcoreapp3.1/WpfFrontEndProto.exe
obj/Debug/netcoreapp3.1/WpfFrontEndProto.g.resources
obj/Debug/netcoreapp3.1/WpfFrontEndProto.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/WpfFrontEndProto.pdb
obj/Debug/netcoreapp3.1/Views/CurveDataView.g.cs
obj/Debug/netcoreapp3.1/Views/CurveDataView.g.i.cs
obj/Debug/netcoreapp3.1/Views/MainWindow.g.cs
obj/Debug/netcoreapp3.1/Views/MainWindow.g.i.cs
